/* Selectors for the Insert Icon plugin of htmlArea RTE */
.InsertIcon,.htmlarea-action-iconfont-icon-insert {
    background-image: url('images/icon-fontawesome.gif') !important;
    background-position: 0 0 !important;
}
