/* Selectors for the Insert Smiley plugin of htmlArea RTE */
.htmlarea-action-iconfont-icon-insert {
    background-image: url('images/icon-fontello.gif') !important;
    background-position: 0 0 !important;
}
